/* © 2025 Romar Jabez */

main {
    display: flex;
    justify-content: center;
    gap: 30px;
}

a {
    color: white;
}

/* menu */

.wrapper1 {
    background-color: #246868;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 84px 0 0 0;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
    gap: 8px;
}

.menu-item {
    width: 230px;
    padding: 10px;
    border-radius: 8px
}

.menu-item:hover {
    background-color: #173d3d;
    cursor: pointer;
}

/* content */

.wrapper2 {
    margin: 110px 0 0 0;
    width: 860px;
}

.products {
    margin: 30px 0 0 0;
}

.buttons {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
}

#product-image {
    border-radius: 10px;
}

.fa-solid.fa-circle,
.fa-solid.fa-xmark {
    color: white;
}

.fa-solid.fa-circle {
    font-size: 8px;
    transform: translateY(-2px);
}

.fa-solid.fa-xmark {
    font-size: 10px;
    transform: translateY(-1px);
}

.in-stock {
    background-color: #207e20;
}

.out-of-stock {
    background-color: #c42222;
}

.in-stock, .out-of-stock {
    display: inline-flex;
    color: white;
    border-radius: 5px;
    gap: 5px;
    padding: 2px 5px 2px 5px;
    font-size: 14px;
    align-items: center;
    vertical-align: middle;
}